*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/test/java/com/network/shopmanager/
/app/src/androidTest/java/com/network/shopmanager/
/app/build/generated/res/resValues/debug/
/app/build/generated/res/google-services/debug/
/app/build/generated/source/kaptKotlin/debug/
/app/build/generated/ap_generated_sources/debug/out/
/app/build/generated/source/buildConfig/debug/
/app/build/generated/source/kapt/debug/
